video {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   
   
    text-align: center;  
}


a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
font-size: 45px;
}


body {
   text-align: center;
}





